{% extends "base.html" %}

{% block content %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>
                    <a href="{% url 'movies:genre' %}">Genre</a> 
                </th>
                <th>Stock</th>
                <th>Daily Rate</th>
            </tr>
        </thead>
        
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>
                        {# instead of passing a url file location #}
                        {# we use the url tag and a nice convention (movies:detail)#}
                        {# also passing any variable beside it #}
                        <a href="{% url 'movies:detail' movie.id %}">{{movie.title}}</a>
                    </td>
                    <td>{{movie.genre}}</td>
                    <td>{{movie.number_in_stock}}</td>
                    <td>{{movie.daily_rate}}</td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
{% endblock %}

{% comment "" %}
TL; this template basically extends our movies/base.html
its a content page for the content in movies/base.html
why? idrk 
{{}} for variable names with django html
{% %} for loops and conditionals
{% endcomment %}